
.paper {
    margin: 3rem;
    padding: 2rem;
}

#formulario-movimiento.inactivo {
    display: none;
}

.campo-formulario {
    color: black;
    display: inline-flex;
}

label {
    padding:  1rem;
}

#btn-calcular {
    position:relative;

}

